<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ustoyou">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".YourDeliveryConfirmation"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".UploadPhotoActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".VirtualLesson.VirtualLessonOrderDetailsActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".VirtualLesson.VirtualLessonActivity"
            android:theme="@style/Theme.UsToYouTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UploadFileActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".BabysittingServiceFormActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".DeliveryServiceFormActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".ConfirmServiceActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".TherapyServiceForm2Activity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".TherapyServiceForm1Activity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".ProfilePageActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".CategoryActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".MyServicesActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".MyOrdersActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".YourOrderBabysittingConfirmation"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".YourOrderBabysittingActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".BabySittingServiceActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".YourDeliveryActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".DeliveryServicesActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".TeachingServiceActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".DeclinedActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".ConfirmationActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".YourTeachingServiceConfirmation"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".YourTeachingServiceOrder"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".ServiceDetails"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".HarvestActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".PaymentMethodActivity"
            android:theme="@style/Theme.UsToYouTheme"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".HouseholdActivity"
            android:theme="@style/Theme.UsToYouTheme"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".CornHarvestProvidersList"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".WoodCutActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".WoodCuttingProvidersList"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".ITProvidersList"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".ITSupportActivity"
            android:theme="@style/Theme.UsToYouTheme"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".PaymentDetailsActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".HarvestConfirmation"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".WoodCuttingConfirmation"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".ITConfirmation"
            android:theme="@style/Theme.UsToYouTheme" />
    </application>

</manifest>