<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ustoyou">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".VisualAid.VisualAidRateActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".VisualAid.VisualAidActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".VirtualLesson.VirtualLessonRateActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".delivery.YourDeliveryConfirmation"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".UploadPhotoActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".VirtualLesson.VirtualLessonOrderDetailsActivity"
            android:theme="@style/Theme.UsToYouTheme">

        </activity>
        <activity
            android:name=".VirtualLesson.VirtualLessonActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".UploadFileActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".babysitting.BabysittingServiceFormActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".delivery.DeliveryServiceFormActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".ConfirmServiceActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".TherapyServiceForm2Activity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".TherapyServiceForm1Activity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".ProfilePageActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".CategoryActivity"
            android:theme="@style/Theme.UsToYouTheme">

        </activity>
        <activity
            android:name=".MyServicesActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".MyOrdersActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".babysitting.YourOrderBabysittingConfirmation"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".babysitting.YourOrderBabysittingActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".babysitting.BabySittingServiceActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".delivery.YourDeliveryActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".delivery.DeliveryServicesActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".teaching.TeachingServiceActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".DeclinedActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".ConfirmationActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".teaching.YourTeachingServiceConfirmation"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".teaching.YourTeachingServiceOrder"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".ServiceDetails"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".HarvestActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".payment.PaymentMethodActivity"
            android:theme="@style/Theme.UsToYouTheme"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".HouseholdActivity"
            android:theme="@style/Theme.UsToYouTheme"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".CornHarvestProvidersList"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".WoodCutActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".WoodCuttingProvidersList"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".ITProvidersList"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".ITSupportActivity"
            android:theme="@style/Theme.UsToYouTheme"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".payment.PaymentDetailsActivity"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".HarvestConfirmation"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".WoodCuttingConfirmation"
            android:theme="@style/Theme.UsToYouTheme" />
        <activity
            android:name=".ITConfirmation"
            android:theme="@style/Theme.UsToYouTheme" />
    </application>

</manifest>